footer{
    margin-top: 150px;
    max-width: 116px;
    margin: 150px auto 0;
    ul{

        display: flex;
        justify-content: center;
        margin: 58px auto 110px;
        justify-content: space-around;
        cursor: pointer;
    }
}